* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text working-tree-encoding=UTF-8

*.md text working-tree-encoding=UTF-8
*.json text working-tree-encoding=UTF-8
*.mjs text working-tree-encoding=UTF-8
*.js text working-tree-encoding=UTF-8
*.sh text eol=lf working-tree-encoding=UTF-8
